In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import metrics

In [2]:
data = pd.read_csv('training.csv')

In [3]:
data.describe()

,Row_ID,Financial_Year,Sequence_1,Sequence_2,Donor_Age,Blood_Group_Code,Donor_Weight,Donor_Temperature,Donor_Pulse,Donor_Hemoglobin,Test_1,Test_2,Y
count,164599.000000,164599.000000,164599.000000,164599.000000,152553.000000,164242.000000,140303.000000,140300.000000,140300.000000,140300.000000,164542.000000,164575.000000,164599.000000
mean,109667.071556,15.871755,34502.461437,17685.259625,29.348493,3.598276,73.724061,38.045429,74.586521,13.332521,0.257067,7.350826,0.017369
std,63365.345992,1.417770,34184.696957,11653.985460,18.193065,1.873129,24.382463,19.826230,36.559348,7.720151,4.793943,159.703891,0.130644
min,0.000000,14.000000,346.000000,1.000000,-29.000000,0.000000,-80.000000,0.300000,0.720000,0.130000,0.000000,0.001000,0.000000
25%,54799.500000,15.000000,11308.000000,7541.000000,23.000000,3.000000,65.000000,37.000000,72.000000,13.000000,0.123000,0.183000,0.000000
50%,109632.000000,16.000000,22551.000000,16336.000000,28.000000,3.000000,72.000000,37.000000,72.000000,13.000000,0.183000,0.221000,0.000000
75%,164499.500000,17.000000,35614.500000,27414.500000,33.000000,5.000000,80.000000,37.000000,72.000000,13.000000,0.294000,0.263000,0.000000
max,219465.000000,18.000000,122095.000000,44317.000000,2002.340000,17.000000,980.000000,999.000000,872.000000,712.000000,976.302000,7081.233000,1.000000

In [4]:
data.isna().sum()

Row_ID                      0
Financial_Year              0
Branch_Code                 0
Sequence_1                  0
Sequence_2                  0
Donation_type               0
Donor_Age               12046
Donation_Date               0
Gender                      8
Blood_Group_Code          357
Donor_Weight            24296
Donor_Temperature       24299
Donor_Pulse             24299
Donor_Hemoglobin        24299
Donor_Blood_Pressure    24300
Test_1                     57
Test_2                     24
Test_3                      8
Test_4                      8
Y                           0
dtype: int64

In [5]:
counter = 0
for i in data['Gender']:
    if (i == 'M'):
        counter += 1
counter

164498

In [6]:
no_of_females = data['Gender'].count() - counter

In [7]:
no_of_females

93

In [8]:
xyz = data[data['Donor_Age'] < 16]

xyz[xyz['Gender'] == 'F']

Empty DataFrame
Columns: [Row_ID, Financial_Year, Branch_Code, Sequence_1, Sequence_2, Donation_type, Donor_Age, Donation_Date, Gender, Blood_Group_Code, Donor_Weight, Donor_Temperature, Donor_Pulse, Donor_Hemoglobin, Donor_Blood_Pressure, Test_1, Test_2, Test_3, Test_4, Y]
Index: []

In [9]:
new_data = data[data['Blood_Group_Code'] >= 0]

x = []

for i in set(new_data['Blood_Group_Code']):
    x.append(((new_data[new_data['Blood_Group_Code'] == i]['Blood_Group_Code'].count()), i))

print(sorted(x))

[(2, 17.0), (5, 9.0), (9, 11.0), (23, 14.0), (28, 0.0), (1025, 8.0), (2512, 2.0), (3544, 6.0), (3614, 4.0), (13839, 7.0), (36787, 1.0), (49661, 5.0), (53193, 3.0)]

In [38]:
correlation = data.corr()
correlation

,Row_ID,Financial_Year,Sequence_1,Sequence_2,Donor_Age,Blood_Group_Code,Donor_Weight,Donor_Temperature,Donor_Pulse,Donor_Hemoglobin,Test_1,Test_2,Y
Row_ID,1.000000,0.685067,-0.639481,-0.161246,0.003095,-0.009206,-0.015210,-0.000494,-0.002203,-0.009219,-0.005981,-0.023986,-0.024422
Financial_Year,0.685067,1.000000,-0.584620,-0.062470,0.008485,0.003491,-0.016030,-0.000964,-0.002368,-0.010976,-0.006954,-0.018401,-0.001599
Sequence_1,-0.639481,-0.584620,1.000000,0.483375,-0.005459,0.001446,0.015175,0.014361,0.004386,0.010796,0.001686,0.038847,0.004086
Sequence_2,-0.161246,-0.062470,0.483375,1.000000,-0.004165,0.004435,0.006063,0.003052,0.001526,0.008619,-0.000344,-0.006442,0.011589
Donor_Age,0.003095,0.008485,-0.005459,-0.004165,1.000000,0.000891,0.113780,-0.000356,-0.000682,-0.001455,0.000941,-0.003574,0.024095
Blood_Group_Code,-0.009206,0.003491,0.001446,0.004435,0.000891,1.000000,-0.006016,0.000205,-0.001122,-0.000132,0.004617,-0.000858,-0.000232
Donor_Weight,-0.015210,-0.016030,0.015175,0.006063,0.113780,-0.006016,1.000000,-0.002914,0.003201,-0.002239,-0.000658,-0.006539,-0.007566
Donor_Temperature,-0.000494,-0.000964,0.014361,0.003052,-0.000356,0.000205,-0.002914,1.000000,-0.000723,0.010280,-0.000436,0.003839,-0.002204
Donor_Pulse,-0.002203,-0.002368,0.004386,0.001526,-0.000682,-0.001122,0.003201,-0.000723,1.000000,-0.000300,-0.000525,0.000015,0.002132
Donor_Hemoglobin,-0.009219,-0.010976,0.010796,0.008619,-0.001455,-0.000132,-0.002239,0.010280,-0.000300,1.000000,-0.000359,0.002012,0.000580
Test_1,-0.005981,-0.006954,0.001686,-0.000344,0.000941,0.004617,-0.000658,-0.000436,-0.000525,-0.000359,1.000000,-0.000619,0.003345
Test_2,-0.023986,-0.018401,0.038847,-0.006442,-0.003574,-0.000858,-0.006539,0.003839,0.000015,0.002012,-0.000619,1.000000,0.005707
Y,-0.024422,-0.001599,0.004086,0.011589,0.024095,-0.000232,-0.007566,-0.002204,0.002132,0.000580,0.003345,0.005707,1.000000

In [11]:
correlation['Y'].sort_values(ascending=False)

Y                    1.000000
Sequence_2           0.011542
Donor_Age            0.009603
Test_2               0.005672
Sequence_1           0.004042
Test_1               0.003336
Donor_Pulse          0.002066
Donor_Hemoglobin     0.000551
Blood_Group_Code    -0.000380
Financial_Year      -0.001520
Donor_Temperature   -0.002219
Donor_Weight        -0.007601
Row_ID              -0.024365
Name: Y, dtype: float64

In [12]:
data.drop(data[data['Donor_Age']>90].index,inplace=True)
data.drop(data[data['Donor_Age']<16].index,inplace=True)

In [13]:
#data[data['Donor_Age'] > 90].count()
#data[data['Donor_Age']<16].count()
data.describe()

,Row_ID,Financial_Year,Sequence_1,Sequence_2,Donor_Age,Blood_Group_Code,Donor_Weight,Donor_Temperature,Donor_Pulse,Donor_Hemoglobin,Test_1,Test_2,Y
count,163922.000000,163922.000000,163922.000000,163922.000000,151876.000000,163566.000000,139688.000000,139685.000000,139685.000000,139685.000000,163865.000000,163898.000000,163922.000000
mean,109748.983889,15.872946,34463.271837,17682.243744,28.634156,3.598413,73.723405,38.047863,74.586082,13.332376,0.257231,7.365351,0.017356
std,63357.082681,1.417731,34157.941023,11652.821992,6.844706,1.872974,24.365762,19.861311,36.547642,7.721391,4.803828,159.920113,0.130594
min,0.000000,14.000000,346.000000,1.000000,16.000000,0.000000,-80.000000,0.300000,0.720000,0.130000,0.000000,0.001000,0.000000
25%,54916.250000,15.000000,11297.000000,7537.000000,23.477500,3.000000,65.000000,37.000000,72.000000,13.000000,0.123000,0.183000,0.000000
50%,109733.500000,16.000000,22538.000000,16334.500000,28.000000,3.000000,72.000000,37.000000,72.000000,13.000000,0.183000,0.221000,0.000000
75%,164591.500000,17.000000,35576.750000,27411.000000,33.000000,5.000000,80.000000,37.000000,72.000000,13.000000,0.294000,0.263000,0.000000
max,219465.000000,18.000000,122095.000000,44317.000000,90.000000,17.000000,980.000000,999.000000,872.000000,712.000000,976.302000,7081.233000,1.000000

In [14]:
data.isna().sum()

Row_ID                      0
Financial_Year              0
Branch_Code                 0
Sequence_1                  0
Sequence_2                  0
Donation_type               0
Donor_Age               12046
Donation_Date               0
Gender                      8
Blood_Group_Code          356
Donor_Weight            24234
Donor_Temperature       24237
Donor_Pulse             24237
Donor_Hemoglobin        24237
Donor_Blood_Pressure    24238
Test_1                     57
Test_2                     24
Test_3                      8
Test_4                      8
Y                           0
dtype: int64

In [15]:
age = data[data['Donor_Age'] != np.nan]['Donor_Age']
data['Donor_Age'].replace(np.nan,age.median(),inplace=True)

In [16]:
data['Donor_Age'].isna().sum()

0

In [17]:
X = data[['Donor_Age','Sequence_2']]
y = data['Y']

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [19]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\Razor\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Razor\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Razor\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:

regressor = RandomForestClassifier(n_estimators=20,random_state=0)
regressor.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [21]:
y_pred = regressor.predict(X_test)
#y_pred = regressor.predict()

In [22]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.028610645112093946
Mean Squared Error: 0.028610645112093946
Root Mean Squared Error: 0.16914681525850242

In [23]:
data_test = pd.read_csv('test_data.csv')

In [24]:
data_test['Row_ID'].isna().sum()

0

In [25]:
data_test['Donor_Age'].replace(np.nan,age.median(),inplace=True)
#data_test['Donor_Age'].replace(data_test[data_test['Donor_Age'] > 90],age.median(),inplace=True)

In [26]:
data_test[data_test['Donor_Age'] > 90]['Donor_Age'] = np.nan

C:\Users\Razor\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
data_test[data_test['Donor_Age'] < 16]['Donor_Age'] = np.nan

C:\Users\Razor\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [28]:
sequence = data[data['Sequence_2'] != np.nan]['Sequence_2']
data_test['Sequence_2'].replace(np.nan,sequence.median(),inplace=True)

In [29]:
data_test['Sequence_2'].isna().sum()

0

In [30]:
y_pred = regressor.predict(data_test[['Sequence_2','Donor_Age']])

In [31]:
submission = pd.DataFrame({'Row_ID':data_test['Row_ID'],'Y':y_pred})

In [32]:
submission[submission['Y']==0].count()

Row_ID    54867
Y         54867
dtype: int64

In [34]:
filename = 'Submission.csv'

submission.to_csv(filename,index=False)

print('Saved file: ' + filename)

Saved file: Submission.csv

In [35]:
samplefile = pd.read_csv('sample.csv')

In [37]:
submission.isna().sum()

Row_ID    0
Y         0
dtype: int64

In [ ]:
samplefile.head()